@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
h1.title {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  font-family: "Secular One", sans-serif;
}
div.new {
  /*align right*/
  text-align: left;
  margin: 30px;
}
